.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color:  #ACABB0; */
    background-color: #acabb0;
background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%);
background-color: #feae96;
background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
    border-radius: 15px;
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}