.footer {
    background: linear-gradient(135deg, #f8f8f8 0%, #e7e7e7 100%);
    color: #333333;
    padding: 20px;
    text-align: center;
    height: 200px;
  }
  
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__text {
    margin-bottom: 20px;
  }
  
  .footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer__link-item {
    margin-right: 10px;
  }
  
  .footer__link-item a {
    color: #333333;
    text-decoration: none;
  }
  
  .footer__link-item a:hover {
    text-decoration: underline;
  }
  